NiFi_Flow.json
{"flowContents":{"identifier":"1f6b2858-f635-3455-ba8f-c6377acd7439","instanceIdentifier":"147c510d-0195-1000-c66b-82af1230c80e","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"d48f772a-9112-35f9-9580-196f6a47dfcb","instanceIdentifier":"147fb931-0195-1000-b09f-cd94766805d7","name":"NiFi_Flow","comments":"","position":{"x":571.0,"y":149.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"84aa4597-252e-3105-acc1-eff982079893","instanceIdentifier":"bd46fb13-5d47-3e7c-c9dc-aed065904b90","name":"MergeRecord","comments":"","position":{"x":736.0,"y":88.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0"},"properties":{"max-bin-age":null,"correlation-attribute-name":null,"Attribute Strategy":"Keep All Unique Attributes","min-records":"2000","max-bin-size":null,"record-writer":"b1d978a1-cfae-3a64-8e5a-747ed2ed00f4","merge-strategy":"Bin-Packing Algorithm","record-reader":"01877183-44d2-3930-a34a-cc2d7edc46ac","max-records":"500001","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d48f772a-9112-35f9-9580-196f6a47dfcb"},{"identifier":"f88a2e34-79e7-33a8-b975-d3edbfa4289b","instanceIdentifier":"1e6b0b68-4694-3c00-f550-79b515ca4550","name":"InvokeHTTP","comments":"","position":{"x":736.0,"y":-136.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://api.mockaroo.com/api/c0ac19d0?count=1000&key=23a6bef0","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d48f772a-9112-35f9-9580-196f6a47dfcb"},{"identifier":"b930d2b9-014f-3d19-96f4-dcf5edd563d9","instanceIdentifier":"896c9db1-0c46-3faa-13ae-1d528b5ec983","name":"PutFile","comments":"","position":{"x":736.0,"y":528.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"false","Permissions":"777","Maximum File Count":null,"Last Modified Time":null,"Directory":"/data","Conflict Resolution Strategy":"ignore"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{"background-color":"#2a8733"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d48f772a-9112-35f9-9580-196f6a47dfcb"},{"identifier":"ed9288e5-f967-39dc-8aaa-570f637e47de","instanceIdentifier":"1d898e14-0195-1000-479c-38dc0d137855","name":"UpdateAttribute","comments":"","position":{"x":736.0,"y":304.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.26.0"},"properties":{"Delete Attributes Expression":null,"filename":"mockaroo${nextInt()}.json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d48f772a-9112-35f9-9580-196f6a47dfcb"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f9686dd8-8a34-301e-8d92-9c4881c336be","instanceIdentifier":"98986885-d660-3df2-6a77-5b55861bad1c","name":"","source":{"id":"b930d2b9-014f-3d19-96f4-dcf5edd563d9","type":"PROCESSOR","groupId":"d48f772a-9112-35f9-9580-196f6a47dfcb","name":"PutFile","comments":"","instanceIdentifier":"896c9db1-0c46-3faa-13ae-1d528b5ec983"},"destination":{"id":"f4489cad-783c-38bd-bf5f-ba20596ae751","type":"FUNNEL","groupId":"d48f772a-9112-35f9-9580-196f6a47dfcb","name":"Funnel","comments":"","instanceIdentifier":"b8fc3836-8c4a-3cb8-291b-4e29d0d74020"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d48f772a-9112-35f9-9580-196f6a47dfcb"},{"identifier":"aefe5745-54ec-3bde-b5e2-521d077c1c80","instanceIdentifier":"6e1da730-015e-3775-4156-28ab9ffff1c2","name":"","source":{"id":"84aa4597-252e-3105-acc1-eff982079893","type":"PROCESSOR","groupId":"d48f772a-9112-35f9-9580-196f6a47dfcb","name":"MergeRecord","comments":"","instanceIdentifier":"bd46fb13-5d47-3e7c-c9dc-aed065904b90"},"destination":{"id":"e76e100d-db7a-3494-a4d1-5192018e1645","type":"FUNNEL","groupId":"d48f772a-9112-35f9-9580-196f6a47dfcb","name":"Funnel","comments":"","instanceIdentifier":"1450415d-e20f-3887-85c5-4acc7d8a1537"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d48f772a-9112-35f9-9580-196f6a47dfcb"},{"identifier":"ba5d3d1b-65a9-3bd9-a751-6a4c3148dd83","instanceIdentifier":"d0eb84d5-37e4-3d7d-9693-1e71a047a518","name":"","source":{"id":"f88a2e34-79e7-33a8-b975-d3edbfa4289b","type":"PROCESSOR","groupId":"d48f772a-9112-35f9-9580-196f6a47dfcb","name":"InvokeHTTP","comments":"","instanceIdentifier":"1e6b0b68-4694-3c00-f550-79b515ca4550"},"destination":{"id":"84aa4597-252e-3105-acc1-eff982079893","type":"PROCESSOR","groupId":"d48f772a-9112-35f9-9580-196f6a47dfcb","name":"MergeRecord","comments":"","instanceIdentifier":"bd46fb13-5d47-3e7c-c9dc-aed065904b90"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d48f772a-9112-35f9-9580-196f6a47dfcb"},{"identifier":"13146b55-8b68-36bc-a26e-614aa8fe38f2","instanceIdentifier":"1d8fb4e1-0195-1000-5b5e-80442ddef6b6","name":"","source":{"id":"ed9288e5-f967-39dc-8aaa-570f637e47de","type":"PROCESSOR","groupId":"d48f772a-9112-35f9-9580-196f6a47dfcb","name":"UpdateAttribute","comments":"","instanceIdentifier":"1d898e14-0195-1000-479c-38dc0d137855"},"destination":{"id":"b930d2b9-014f-3d19-96f4-dcf5edd563d9","type":"PROCESSOR","groupId":"d48f772a-9112-35f9-9580-196f6a47dfcb","name":"PutFile","comments":"","instanceIdentifier":"896c9db1-0c46-3faa-13ae-1d528b5ec983"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d48f772a-9112-35f9-9580-196f6a47dfcb"},{"identifier":"6a8a6096-1973-3496-8f1e-9c61810080cb","instanceIdentifier":"1d8f9d67-0195-1000-e25f-b3f6812bda44","name":"","source":{"id":"84aa4597-252e-3105-acc1-eff982079893","type":"PROCESSOR","groupId":"d48f772a-9112-35f9-9580-196f6a47dfcb","name":"MergeRecord","comments":"","instanceIdentifier":"bd46fb13-5d47-3e7c-c9dc-aed065904b90"},"destination":{"id":"ed9288e5-f967-39dc-8aaa-570f637e47de","type":"PROCESSOR","groupId":"d48f772a-9112-35f9-9580-196f6a47dfcb","name":"UpdateAttribute","comments":"","instanceIdentifier":"1d898e14-0195-1000-479c-38dc0d137855"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d48f772a-9112-35f9-9580-196f6a47dfcb"},{"identifier":"d9173107-8a4f-3e92-863b-fafd4743bd77","instanceIdentifier":"5772ee39-3fc0-3abe-3fcb-8382655ceef0","name":"","source":{"id":"f88a2e34-79e7-33a8-b975-d3edbfa4289b","type":"PROCESSOR","groupId":"d48f772a-9112-35f9-9580-196f6a47dfcb","name":"InvokeHTTP","comments":"","instanceIdentifier":"1e6b0b68-4694-3c00-f550-79b515ca4550"},"destination":{"id":"7047beea-a875-3c9f-934a-31a8e56d614a","type":"FUNNEL","groupId":"d48f772a-9112-35f9-9580-196f6a47dfcb","name":"Funnel","comments":"","instanceIdentifier":"204dba7e-1290-39e6-31b2-83b62daf7741"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d48f772a-9112-35f9-9580-196f6a47dfcb"}],"labels":[{"identifier":"76a68f20-8fa8-3f96-b204-881af1c77557","instanceIdentifier":"1e9bc1f5-0195-1000-90c1-6571f072cc3a","position":{"x":400.0,"y":-8.0},"label":"GET data from mockaroo. \nDaily max requests = 200\nMax rows =1000\nTotal records = 1000*200 ","zIndex":0,"width":148.0,"height":148.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"d48f772a-9112-35f9-9580-196f6a47dfcb"}],"funnels":[{"identifier":"e76e100d-db7a-3494-a4d1-5192018e1645","instanceIdentifier":"1450415d-e20f-3887-85c5-4acc7d8a1537","position":{"x":1360.0,"y":128.0},"componentType":"FUNNEL","groupIdentifier":"d48f772a-9112-35f9-9580-196f6a47dfcb"},{"identifier":"f4489cad-783c-38bd-bf5f-ba20596ae751","instanceIdentifier":"b8fc3836-8c4a-3cb8-291b-4e29d0d74020","position":{"x":432.0,"y":736.0},"componentType":"FUNNEL","groupIdentifier":"d48f772a-9112-35f9-9580-196f6a47dfcb"},{"identifier":"7047beea-a875-3c9f-934a-31a8e56d614a","instanceIdentifier":"204dba7e-1290-39e6-31b2-83b62daf7741","position":{"x":416.0,"y":-96.0},"componentType":"FUNNEL","groupIdentifier":"d48f772a-9112-35f9-9580-196f6a47dfcb"}],"controllerServices":[{"identifier":"b1d978a1-cfae-3a64-8e5a-747ed2ed00f4","instanceIdentifier":"b6c28239-107e-392a-0c41-3e2b3d3920fc","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.26.0"},"properties":{"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.26.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d48f772a-9112-35f9-9580-196f6a47dfcb"},{"identifier":"01877183-44d2-3930-a34a-cc2d7edc46ac","instanceIdentifier":"ed46bca7-1bda-3715-159b-7f5343b91cee","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.26.0"},"properties":{"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.26.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d48f772a-9112-35f9-9580-196f6a47dfcb"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"1f6b2858-f635-3455-ba8f-c6377acd7439"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}